.buy-btn {
  background-color: #87cef4;
  color: black;
  height: 3em;
  width: 22rem;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  transition: all ease-in 150ms;
  font-family: Choco;
  padding: 2rem;
  font-weight: 800;
}

.buy-btn:hover {
  background-color: #141717;
  color: white;
  font-weight: 800;
  transform: scale(1.1);
}
