@font-face {
  font-family: rische;
  src: url("./Rische-demo.otf");
}
@font-face {
  font-family: universal;
  src: url("./Universal.otf");
}
@font-face {
  font-family: Choco;
  src: url("./TTChocolates-tl.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Choco;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: choco;
  font-size: 15rem;
  font-weight: 200;
}
h2 {
  font-family: rische;
  font-size: 4rem;
}
h3 {
  font-family: Universal;
  font-size: 3rem;
  letter-spacing: -1px;
}
body {
  padding: 0 5rem 5rem 5rem;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}
p {
  font-size: 2rem;
}
